.cards-container{
    height: 400px;
}
.card-custom{
    background-color: red;
}
.card-image{
    opacity: 0.2;
}
.btn-custom{
    background-color: #DF6B51;
    border-radius: 50px;
    font-weight: bolder;
}
.btn-custom:hover{
    transform: scale(1.2);
}